.App {
  text-align: center;
 
}

/*  */

.img-wrapper img {
  width: 120px;
 
}
.card-wrapper{
  width: 150px;
  border: 1px solid black;
  margin: 15px;
  border-radius: 5px;
  padding-bottom: 15px;
  display: inline-block;
  
  
}
.btn-wrapper button{
  
    background-color: green;
    color: white;
    padding: 4px;
    width: 90%;
    border-radius: 10px;
    box-shadow: #166307 1px 3px 5px ;
}
.cart-button img{
  width: 120px;
  position: absolute !important;
  right: 30%;
  top: 5%;
}

/*  */